body{
  font-family: cursive;
  line-height: initial;
}
h1{
  text-align: center;
  text-transform: capitalize;
}
h2{
  text-align: center;
  font-size: 40px;

}
P{
  font-style: italic;
  font-size: 25px;
}